@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto&display=swap');

:root{
    --blueviolet:#fafa;
}

*{
    font-family: 'Nunito' sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--blueviolet);
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}
/* HEADER */
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
.heading span{
    font-size: 3.5rem;
    background: rgb(148,80,106);
    color: rgb(239,207,231);
    border-radius: .5rem;
    padding: .2rem 1rem;
}
.heading span.space{
    background: none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: rgb(192, 120, 174);
    color: #fff;
    padding: .8rem .3rem;
    border: .2rem solid rgb(192, 120, 174);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:rgb(192, 120, 174);
    color: var(--blueviolet);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:rgb(111,56,77,0.926);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: border;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color:var(--blueviolet);
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin:0 .8rem;
}
header .navbar a:hover{
    color:var(--blueviolet);
}
header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color:var(--blueviolet);
}
header .search-bar-container{
    position: absolute;
    top: 100%; left: 0;right: 0;
    padding:1.5rem 2rem;
    background: rgb(111,56,77,0.926);
    border-top: .1rem solid  rgb(211, 176, 190);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color: rgb(185, 77, 119);
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: var(--blueviolet);

}
/* LOGIN */
.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background:rgb(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-container.active{
    top: 0;
}
.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}
.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin:.6rem 0;
    border: .1rem solid rgb(0,0,0,.3);
    text-transform: none;
}
.login-form-container form .box:focus{
    border-color: rebeccapurple;
}
.login-form-container form #remember{
    margin:2rem 0; 
}
.login-form-container form label{
    font-size: 1.5rem;


}
.login-form-container form .btn{
    display: block;
    width: 100%;
}
.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a{
    color:rgb(216, 109, 189);
}
.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}
.login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
}
/* REGISTER */
.register-container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    
}

.register-container{
   
    width: 3000px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom:20px;

   
}

.register-container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: rgb(148,80,106);
  }
  .register-container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg,#bd69c0);
  }

  .register-content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  form .user-details .register-input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .register-input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
  }

  .user-details .register-input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }  

  .user-details .register-input-box input:focus,
.user-details .register-input-box input:valid{
  border-color: var(--blueviolet);
}


@media(max-width: 584px){
    .register-container{
     max-width: 100%;
   }
 

 form .user-details .register-input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  .register-content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .register-container .register-content{
    flex-direction: column;
  }
}
#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;

}
/* HOME */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;

}
.home .content{
    text-align: center;

}
.home .content h3{
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgb(185, 77, 119);
}
.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}
.home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .home .controls{
    padding:1rem;
    border-radius: 5rem;
    background:rgba(0,0,0,.7);
    position: relative;
    top:10rem;
  }
  
  .home .controls .vid-btn{
    height:2rem;
    width:2rem;
    display: inline-block;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
    margin:0 .5rem;
  }
  
  .home .controls .vid-btn.active{
    background:var(--blueviolet);
  }
  /* BOOK */
  .book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  .book .row .image{
    flex: 1 1 40rem;
  }
  .book .row .image img{
    width: 100%;
  }
  .book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  .book .row form .inputBox{
    padding: .5rem 0;
  }
  .book .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color: #333;
    text-transform:none;
}
.book .row form .inputBox h3{
    font-size: 2rem;
    padding:1rem 0;
    color: #666;

}
/* PACKAGES */
.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.packages .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
.packages .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.packages .box-container .box .content{
    padding: 2rem;
}
.packages .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}
.packages .box-container .box .content h3 i{
    color:rgb(185, 77, 119);
}
.packages .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}
.packages .box-container .box .content .stars{
    font-size: 1.7rem;
    color:rgb(185, 77, 119);
}
.packages .box-container .box .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
    
}
.packages .box-container .box .content .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}
/* SERVICES */
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}
.services .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color:rgb(192, 120, 174);
}
.services .box-container .box i{
    padding:1rem;
    font-size: 5rem;
    color:rgb(192, 120, 174);

}
  
.services .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
}
  
.services .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}
  
.services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

 /* GALLERY  */
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
  
.gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:1rem solid #fff;
    border-radius: .5rem;
    flex:1 1 30rem;
    height: 25rem;
    position: relative;
}
  
.gallery .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
  
.gallery .box-container .box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
}
  
.gallery .box-container .box:hover .content{
    top:0;
}
  
.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--blueviolet);
}
  
.gallery .box-container .box .content p{
    font-size: 1.5rem;
    color:#eee;
    padding:.5rem 0;
}
/* CONTACT */
.container{
    min-height: 100vh;
    background:#ad6db3;
    display: flex;
    align-items: center;
    background: #bd69c0;
    
    padding-left: 400px;
    background-image: url(images/image25.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    
    border-radius: 15px;
    background: rgba(212, 173, 216, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
.container form h1{
    color:rgb(12, 7, 6);;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}
.container form input::placeholder{
    color:rgb(12, 7, 6);;
}
.container form #lastName,
.container form#mobile{
    margin-left: 20px;
}
.container form h4{
    color: rgb(12, 7, 6);
    font-weight: 300;
    width: 600;
    margin-top: 20px;
}
.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: rgb(179, 93, 187);
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none; 
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,0.713);
}
.container form #button{
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(18, 12, 7);
    width: 100px;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3px;
}
.container form #button:hover{
    opacity: 0.7;
}

/* .contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.contact .row .image{
    flex:1 1 35rem;
}
  
.contact .row .image img{
    width:100%;
}
  
.contact .row form{
    flex:1 1 50rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}
.contact .row form .input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .input-box input , .contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
} */
 
/* ABOUT */
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:rgb(192, 120, 174);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p{
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
/* PERNE */
.perne{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.perne .image{
    flex:1 1 25rem;
    
}
 
.perne .image img{
    width: 100%;
}
 
.perne .content{
    flex:1 1 41rem;
    text-align: center;
 }
 
.perne .content h3{
    margin-top:10rem;
    font-size: 3rem;
    color:rgb(148,80,106);
 }
 
.perne .content p{
    font-size: 1.5rem;
    color:black;
    line-height: 2;
    padding:1rem 0;
 }
 
.perne .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: flex-end;
    margin-left: 20px;
}

.perne .content .icons-container .icons{
    background:rgb(111,56,77,0.926);
    padding:2rem;
    flex:1 1 16rem;
}
 
.perne .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color:rgb(211, 176, 190);
}
.perne .content .icons-container .icons i:hover{
    transform: scale(1.3);
    transition: all 0.3s;
}
 
.perne .content .icons-container .icons span{
    font-size: 1.5rem;
    color:#fff;
    display:block;
}

/* REVIEW */
.review .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review .box-container .box{
    background:#fff;
    margin:1rem;
    padding:1rem;
    text-align: center;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    flex:1 1 30rem;
    border-radius: .5rem;
}
.review .box-container .box:hover{
    box-shadow: 1rem 2rem rgba(0,0,0,.1);
    margin: 10px;
    padding: 30px;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 8rem;
    color:rgb(185, 77, 119);
    opacity: .3;
}

.review .box-container .box .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-top: 2rem;
}

.review .box-container .box .user h3{
    color:rgb(192, 120, 174);
    font-size: 2rem;
}

.review .box-container .box .user .stars i{
    color:rgb(192, 120, 174);
    font-size: 1.5rem;
    padding:1rem 0;
}

.review .box-container .box .comment{
    color:#666;
    font-size: 1.4rem;
    padding:1rem;
}


/* FOOTER */

.footer{
    background:rgb(111,56,77,0.926);

}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;

}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: .7rem 0;
    color: #fff;
}
.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .box-container .box a:hover{
    color: rgb(192, 120, 174);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top:.1rem solid rgb(255,255,255,.2) ;
}
.footer .credit span{
    color:var(--blueviolet);
}


  
  
  



/* media queries */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }
}
@media (max-width:991px){

    header{
        padding: 2rem;
    }

}
@media (max-width:768px){

   #menu-bar{
    display: initial;
   }

   header .navbar{
    position: absolute;
    top: 100%; right: 0; left: 0;
    background:rgb(185, 77, 119);
    border-top: .1rem solid rgb(192, 120, 174);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
   
   header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: rgb(223, 142, 174);

   }
}
@media (max-width:450px){

    html{
        font-size: 55%;
    }
    .heading span{
        font-size: 2.5rem;
    }

}
